//-extends ../../../layout
//-
//-block content
//-  div.container-fluid
//-    br
//-    div.row-fluid
//-      div.hero-unit
//-        form(method="post", action='/admin/modules/blog/newpost.html').form-horizontal
//-          div.control-group
//-            label(for="newpost[title]").control-label Title
//-            div.controls
//-              input(type="text", name="newpost[title]", width="100%")
//-        div#editor

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
  body

  div#push