extends ../layout

block content
  div.container-fluid
    br
    div.row-fluid
        div.hero-unit
          h1 Login in to continue! :)
    div.hero-unit
      form(method="post",action="/admin/login.html")
        p
          label(for="username") Username:
            input(type="text", name="username")
        p
          label(for="password") Password:
            input(type="password", name="password")
        p.buttons
          input(type="submit", value="Send")

  div#push