html, body
  height 100%
  background #444444
  color #f6f3e8

a
  text-decoration underline
  color #f6f3e8

#wrap
  min-height 100%
  height auto !important
  height 100%
  margin 0 auto -60px

.jumbotron
  position relative
  color #fff
  text-shadow 0 4px 10px rgba(0,0,0,.4), 0 0 25px rgba(0,0,0,.075)
  background #020031 /* Old browsers */
  background -moz-linear-gradient(45deg,  #656565  0%, #cae682 100%) /* FF3.6+ */
  background -webkit-gradient(linear, left bottom, right top, color-stop(0%,#656565), color-stop(100%,#cae682)) /* Chrome,Safari4+ */
  background -webkit-linear-gradient(45deg,  #656565  0%, #cae682 100%) /* Chrome10+,Safari5.1+ */
  background -o-linear-gradient(45deg,  #656565  0%, #cae682 100%) /* Opera 11.10+ */
  background -ms-linear-gradient(45deg,  #656565  0%, #cae682 100%) /* IE10+ */
  background linear-gradient(45deg,  #656565  0%, #cae682 100%) /* W3C */
  -webkit-box-shadow inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2)
  -moz-box-shadow inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2)
  box-shadow inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2)

.hero-unit
  background #242424
  color #f6f3e8

.sidebar-nav
  background #242424
  color #f6f3e8

.well
  border 1px solid #242424

.jumbotron h1
  font-size 80px
  font-weight bold
  letter-spacing -1px
  line-height 1

.jumbotron p
  font-size 24px
  font-weight 300
  line-height 1.25
  margin-bottom 30px

.sidenav 
  width 228px
  margin 30px 0 0
  padding 0
  background-color #2d2d2d
  -webkit-border-radius 6px
  -moz-border-radius 6px
  border-radius 6px
  -webkit-box-shadow 0 1px 4px rgba(0,0,0,.065)
  moz-box-shadow 0 1px 4px rgba(0,0,0,.065)
  box-shadow 0 1px 4px rgba(0,0,0,.065)

.sidenav > li > a 
  display block
  width 190px \9
  margin 0 0 -1px
  padding 8px 14px
  border 1px solid #e5e5e5

.sidenav.affix 
  top 60px

#push, #footer
  height 60px

#footer
  background-color #1b1b1b
  color #857b6f

@media (max-width 767px)
  #footer
    margin-left -20px
    margin-right -20px
    padding-left 20px
    padding-right 20px
